/*style on my body
        *style on my main
        */
#body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top:200px;
}
.main{
    text-align: center;
}